#imageList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}

#imageList {
    width: 400px; /* or whatever size you want */
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  font-family: 'Fira Code', monospace; 
  font-size: 14px;
  color: #444;
  user-select: none;
}

.info-bar .keyword {
  text-align: left;
  flex: 1;
}

.info-bar .title {
  text-align: center;
  flex: 2;
  font-weight: 600;
}

.info-bar .year {
  text-align: right;
  flex: 1;
  font-style: italic;
}




#videoView {
  display: none;
  flex-direction: column;
  height: 100%;
}

#videoText {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

#backBtn {
  align-self: flex-start;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

