#imageList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  padding: 2rem 0rem;
}

.thumbnail {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.thumbnail img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  #imageList {
    width: 100%;
    padding: 0 1rem; 
  }

  .thumbnail {
    max-width: 100%;
  }
}

.info-bar {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
  font-family: var(--lato);
  font-size: 14px;
  color: var(--white);
  user-select: none;
}

.info-bar .keyword {
  text-align: left;
  flex: 1;
}

.info-bar .title {
  text-align: center;
  flex: 2;
  font-weight: 600;
}

.info-bar .year {
  text-align: right;
  flex: 1;
  font-style: italic;
}




#videoView {
  display: none;
  flex-direction: column;
  height: 100%;
}

#videoText {
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

#backBtn {
  align-self: flex-start;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
}

