 .xpWindow {
   position: fixed;
   width: 600px;
   height: 400px;
   border: 2px solid var(--accent);
   box-shadow: 5px 5px 15px var(--darkbrown);
   border-radius: 10px 10px 0px 0px;
   display: flex;
   flex-direction: column;
   z-index: 1000;
   resize: none;
   overflow: hidden;
 }

 .titlebar {
   background: linear-gradient(to bottom, var(--accent), var(--darkgreen));
   color: var(--white);
   height: 30px;
   line-height: 30px;
   padding: 0 10px;
   font-weight: bold;
   cursor: move;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .titlebar .controls {
   display: flex;
   gap: 4px;
 }

 .titlebar button {
   width: 30px;
   height: 22px;
   background: var(--white);
   border: 2px solid var(--darkgreen);
   border-radius: 5px;
   cursor: pointer;

   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;

 }

 .titlebar button img {
   width: 16px;

 }


 .titlebar button:hover {
   background: var(--accent);
 }

 .titlebar button::before {
   display: block;
 }


 .content {
   flex-grow: 1;
   background: var(--verydarkgreen);
   padding: 10px;
   overflow: auto;
 }

 .xpWindow.maximized {
   top: 0 !important;
   left: 0 !important;
   width: 100vw !important;
   height: 100vh !important;
 }

 .resize-handle {
   position: absolute;
   background: transparent;
 }

 .resize-handle.br {
   width: 20px;
   height: 20px;
   bottom: 0;
   right: 0;
   cursor: nwse-resize;
 }

 @media (max-width: 768px) {
   .xpWindow {
     top: 0 !important;
     left: 0 !important;
     width: 100vw !important;
     height: 100vh !important;
   }

   .titlebar {
     cursor: default;
   }

   .titlebar .controls button:not(.closeBtn) {
     display: none;
   }

   .resize-handle {
     display: none;
   }
 }

 /* ======================
   scrollbarforxpwindow
====================== */


 .xpWindow .content::-webkit-scrollbar {
   width: 12px;
   height: 12px;
 }

 .xpWindow .content::-webkit-scrollbar-track {
   background: transparent;
   border-radius: 6px;
 }

 .xpWindow .content::-webkit-scrollbar-thumb {
   background-color: transparent;
   border-radius: 6px;
   border: none;
 }

 .xpWindow .content::-webkit-scrollbar-thumb:hover {
   background-color: transparent;
 }

 .xpWindow .content {
   scrollbar-width: thin;
   scrollbar-color: var(--accent) transparent;
 }

 /* ======================
   resize-triangle
====================== */
 .resize-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15px;
  height: 15px;
  cursor: se-resize; /* resize cursor hint */
  background:
    linear-gradient(45deg, transparent 50%, var(--accent) 50%);
    transform: rotate(90deg);
}
@media (max-width: 1024px) {
  .resize-triangle {
    display: none;
  }
}