.thumbnails {
  width: 100%;
}
/*THIS IS comment*/
.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 40px;
  border-radius: 20px;
}

.thumbnail-row {
  margin-bottom: 12px;
}

.channel-picture {
  position: relative;
  background-color: aqua;
}

.channel-picture .video-tooltip {
  position: absolute;
  bottom: -20px;
  background-color: bisque;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.channel-picture:hover .video-tooltip {
  opacity: 1;
  pointer-events: none;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  text-decoration: underline;
  border: 2px solid red;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnail-row {
  position: relative;
}

.video-time {
  position: absolute;
  z-index: 999;
  bottom: 10px;
  right: 1px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: roboto, Arial;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}

.author-info-container {
  width: 200px;
  height: 80px;
  background-color: blue;
  display: flex;
  align-items: center;
}

.info-channel-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}

.card-channel-info {
  display: flex;
  flex-direction: column;
}

.card-channel-name {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.card-subscribers {
  color: gray;
  font-size: 14px;
  margin: 4px 0 0 0;
}

